.newslatter{
    width: 65%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    gap: 30px;
}
.newslatter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}
.newslatter p{
    color: #454545;
    font-size: 20px;
}
.newslatter div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 730px;
    height: 70px;
    color: white;
    border-radius: 80px;
    border: 1px solid #e3e3e3e3;

}
.newslatter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: poppins;
    font-size: 16px;
}
.newslatter div button{
    width: 210px;
    height: 70px;
    color: white;
    font-size: 22px;
    border: none;
    background: #ff4141;
    /* border-radius: 80px; */
    cursor: pointer;
    border-top-left-radius: 80px 80px;
  border-bottom-right-radius: 80px 80px;
}